<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Board</title>
</head>
<body>
  
  <h1>게시판</h1>

    <table border="1">
      <thead>
        <tr>
          <td>번호</td>
          <td>제목</td>
          <td>글쓴이</td>
        </tr>
      </thead>

      <tbody>
      <% for(let board of board_info){ %>
        <tr>
          <td><a href=""><%= board_info.indexOf(board) + 1 %></a></td>
          <td><%= board.board_title %></td>
          <td><%= board.board_writer %></td>
        </tr>

      <%}%>
      </tbody>
    </table>

</body>
</html>