<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board</title>
</head>
<body>

    <h1>상세정보</h1>
    <br>
    <h3>NO.<%= detail_info[0].board_uid %></h3>
    <h3>title: <%= detail_info[0].board_title %></h3>
    <h3>writer: <%= detail_info[0].board_writer %></h3>
    <h3>content: <%= detail_info[0].board_content %></h3>

</body>
</html>